body {
    font-style: initial;
    margin: 0px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    background-color: rgb(68, 68, 68);
    padding: 0px;
    justify-content: space-between;
    align-items: center;
} 


header h3, header a {
    color: whitesmoke;
    margin: 10px;
    text-decoration: none;
}

main {
    flex: 1; 
}

h1 {
    color: rgb(68, 68, 68);
    margin: 20px;
}

.container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.form-box {
    background-color: rgb(196, 185, 155);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form-box label {
    display: block;
    margin-top: 10px;
    color: rgb(68, 68, 68);
}

.form-box input, .form-box textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
}

.form-box button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: rgb(68, 68, 68); 
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

footer span {
    color: whitesmoke; 
    font-size: 16px;
}
