body {
    font-style: initial;
    margin: 0px;
}

header {
    display: flex;
    background-color: rgb(68, 68, 68);
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
} 

header h3, a{
    color: whitesmoke;
    margin: 10px;
}

h1 {
    color: rgb(68, 68, 68);
    margin: 20px;
}

.form-box {
    background-color: rgb(196, 185, 155);
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    font-size: large;
}

.form-box label {
    display: block;
    margin-top: 10px;
}

footer {
    background-color: rgb(68, 68, 68);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

span {
    color: whitesmoke;
    font-size: medium;
}
