body {
    font-style: initial;
    margin: 0px;
}

header {
    display: flex;
    background-color: rgb(68, 68, 68);
    padding: 0px;
    align-items: start;
    margin: 0px;
    justify-content: space-between;
} 

header h3, 
header a{
    color: whitesmoke;
    margin: 10px;
}

h1 {
    color: rgb(68, 68, 68);
    margin: 20px;
}

h2, p {
    color:  rgb(68, 68, 68);
    margin-left: 60px;
    margin-right: 60px;
}

.pessoa {
    text-align: center;
    margin: 20px;
    background-color: rgb(196, 185, 155);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgb(68, 68, 68);
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

span {
    color: whitesmoke;
    font-size: medium;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {

    .menu {
        display: none; 
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: rgb(68, 68, 68);
        position: absolute;
        right: 0;
        top: 60px;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }
}
